.s-advantage
  padding: 30px 0
  .s-advantage-content
    .advantage-item
      text-align: center
      .adv-hover
        color: $font-color
        &:hover
          color: $secondary
          text-decoration: none
      .advantage-item-title
        margin: 15px 0
        font-weight: 700
      .advantage-item-content
        .advantage-item-image
          margin: auto
          position: relative
          width: 175px
          height: 240px
          background-position: center
          background-repeat: no-repeat
          background-size: contain
          .advantage-item-image-hover
            position: relative
            width: 175px
            height: 240px
            &:hover
              background-color: rgba(0, 0, 0, .5)
              i
                color: $main
                transition: all 0.5s ease-out
                opacity: 1
            i
              position: absolute
              top: 40%
              left: 42%
              color: $main
              opacity: 0
              font-size: 2.5em

.hovereffect
  width: 100%
  height: 100%
  float: left
  overflow: hidden
  position: relative
  text-align: center
  cursor: default
  .overlay
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    top: 0
    left: 0
  img
    display: block
    position: relative
    -webkit-transition: all 0.4s ease-in
    transition: all 0.4s ease-in
  &:hover img
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter')
    filter: grayscale(1) blur(3px)
    transform: scale(1.2)
  h2
    text-transform: uppercase
    text-align: center
    position: relative
    font-size: 17px
    padding: 10px
    background: rgba(0, 0, 0, 0.6)
  a.info
    display: inline-block
    text-decoration: none
    padding: 7px 14px
    border: 1px solid #fff
    margin: 50px 0 0 0
    background-color: transparent
    &:hover
      box-shadow: 0 0 5px #fff
    transform: scale(0.7)
    transition: all 0.4s ease-in
    opacity: 0
    filter: alpha(opacity = 0)
    color: #fff
    text-transform: uppercase
  h2
    transform: scale(0.7)
    transition: all 0.4s ease-in
    opacity: 0
    filter: alpha(opacity = 0)
    color: #fff
    text-transform: uppercase
  &:hover
    a.info, h2
      opacity: 1
      filter: alpha(opacity = 100)
      transform: scale(1)

.myImg
  border-radius: 5px
  cursor: pointer
  transition: 0.3s
  &:hover
    opacity: 0.7

.modal
  display: none
  position: fixed
  z-index: 1
  padding-top: 10px
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0.9)

.modal-content
  margin: auto
  display: block
  width: 80%
  max-width: 700px

#caption
  margin: auto
  display: block
  width: 80%
  max-width: 700px
  text-align: center
  color: #ccc
  padding: 10px 0
  height: 150px

.modal-content, #caption
  animation-name: zoom
  animation-duration: 0.6s

@-webkit-keyframes zoom
  from
    -webkit-transform: scale(0)

  to
    -webkit-transform: scale(1)


@keyframes zoom
  from
    transform: scale(0)

  to
    transform: scale(1)

.close
  position: absolute
  top: 15px
  right: 35px
  color: #f1f1f1
  font-size: 40px
  font-weight: bold
  transition: 0.3s
  &:hover, &:focus
    color: #bbb
    text-decoration: none
    cursor: pointer

@media only screen and (max-width: 700px)
  .modal-content
    width: 100%
