@media (min-width: 1200px)
  .container
    max-width: 1170px !important

section, footer
  position: relative

body
  font: $font !important

.button
  background: transparent
  border: none
  color: $main
  border-radius: 20px
  padding: 15px 0
  &:hover
    cursor: pointer
    transition: all .3s ease-out


.s-section-header
  text-align: center
  padding-bottom: 30px
  span
    text-transform: uppercase
    font-size: $section-header-size
  .first-text
    margin-right: 5px
  .second-text
    color: $secondary
