.s-server-title
  background-image: url('../img/slider/slide_1.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  height: 600px
  &::after
    content: ' '
    position: absolute
    z-index: 2
    top: 0
    min-width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .5)
  .s-server-content
    position: relative
    z-index: 5
    padding: 140px 0 0
    color: $main
    .server-item
      height: 370px
      .server-background
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        position: absolute
        z-index: 3
        animation-delay: .8s
        opacity: 0
        width: 100%
        min-height: 170px
        height: 370px
        max-height: 370px
      .server-description
        line-height: 1
        position: relative
        z-index: 4
        .server-header
          opacity: 0
          animation-delay: 1s
          font-size: 2.143em
          font-weight: 900
          text-transform: uppercase
        .server-text
          padding: 30px 0 50px
          font-size: 1.286em
          .server-text-1
            opacity: 0
            animation-delay: 1.3s
          .server-text-2
            opacity: 0
            animation-delay: 1.7s
          .server-text-3
            opacity: 0
            animation-delay: 2.1s
          .server-text-4
            opacity: 0
            animation-delay: 2.5s
          .server-text-5
            opacity: 0
            animation-delay: 2.9s
          ul
            margin: 0
            li
              margin-bottom: 10px
              &:last-child
                margin-bottom: 0
        .server-button
          opacity: 0
          animation-delay: 3.2s
          .button-more
            background: transparent
            border: 2px solid $main
            padding: 15px 40px
            border-radius: 25px
            &:hover
              background-color: $main
              border: 2px solid $main
              color: $font-color

.s-server-service
  opacity: 1
  .container
    position: relative
    padding: 210px 0
  .service-server
    position: relative
    display: flex
    flex-wrap: nowrap
    width: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: 40%
    height: 450px
    .service-item
      position: absolute
      top: 0
      box-shadow: 0 0 10px rgba(0, 0, 0, .3)
      background-color: white
      width: 300px
      padding: 15px
      &:first-child
        top: 110%
        left: 36%
        animation-delay: .2s
      &:nth-child(2)
        top: 190px
        left: 0
        animation-delay: .5s
      &:nth-child(3)
        top: 370px
        left: 30px
        animation-delay: .8s
      &:nth-child(4)
        top: 0
        left: 30px
        animation-delay: 1.1s
      &:nth-child(5)
        top: -40%
        left: 36%
        animation-delay: 1.4s
      &:nth-child(6)
        top: 0
        right: 30px
        animation-delay: 1.7s
      &:nth-child(7)
        top: 190px
        right: 0
        animation-delay: 2s
      &:last-child
        top: 370px
        right: 30px
        animation-delay: 2.1s
    .s-item-title
      font-size: 16px
    .s-item-description
      line-height: 1.5
