.s-page-description(style="background-color: #04b4f1")
  .container
    .s-descr-list
      .descr-item
        .item-icon
          img(src="img/service-page/windows/windows_1.png" alt="")
        .item-text
          .item-descr-title WEB сервер
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/windows/windows_2.png" alt="")
        .item-text
          .item-descr-title Файловый сервер и сервер печати
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера.
      .descr-item
        .item-icon
          img(src="img/service-page/windows/windows_3.png" alt="")
        .item-text
          .item-descr-title Почтовый сервер
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/windows/windows_4.png" alt="")
        .item-text
          .item-descr-title Сервер для обслуживания сети
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера.
      .descr-item
        .item-icon
          img(src="img/service-page/windows/windows_5.png" alt="")
        .item-text
          .item-descr-title Виртуализация
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/windows/windows_6.png" alt="")
        .item-text
          .item-descr-title Инфраструктура сервера
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
