section.s-client
  .container
    .s-section-header
      span.first-text наши
      span.second-text клиенты
    .s-section-content
      .owl-carousel.clients.justify-content-center
        .client-item 
          img(src="img/client/client_1.png").img-fluid
        .client-item 
          img(src="img/client/client_2.png").img-fluid
        .client-item 
          img(src="img/client/client_3.png").img-fluid
        .client-item 
          img(src="img/client/client_4.png").img-fluid
