section.s-contact
  .container 
    .s-contact-content 
      .contact-text
        .before-text ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        .after-text Мы поможем решить Ваши проблемы и подобрать наилучшее решение
      .contact-phone
        a(href="tel:+380671111111") +38 (067) 111-11-11
        | 
        a(href="tel:+380501111111") +38 (050) 111-11-11
      .contact-button
        button.button.button-request.openOrder Оставить заявку
