section.s-extra
  .container
    .extra-list.row
      .col-lg-4.extra-item
        .extra-block
          .extra-block-header Разовые работы
          .extra-block-content
            ul
              li 
                span инсталляция ПО
              li  
                span настройка серверов
              li  
                span восстановление после сбоя
              li  
                span консультация 
              li  
                span другие типы работ
          .extra-block-button
            button.button.button-order Заказать
      .col-lg-4.extra-item 
        .extra-block
          .extra-block-header Абонентское обслуживание
          .extra-block-content
            ul
              li 
                span обслуживание
              li  
                span регламентные работы
              li  
                span техническая поддержка 
              li  
                span мониторинг 
              li  
                span другие типы работ
          .extra-block-button
            button.button.button-order Заказать
      .col-lg-4.extra-item 
        .extra-block
          .extra-block-header Проектная основа
          .extra-block-content
            ul
              li 
                span интеграция систем
              li  
                span внедрение проектных решений
              li  
                span инсталляция сервисов
              li  
                span автоматизация процессов  
              li  
                span отказоустайчивость
          .extra-block-button
            button.button.button-order Заказать
