section.s-review
  .container
    .s-section-header
      span.first-text отзывы
      span.second-text клиентов
    .s-review-content
      .owl-carousel.reviews
        .review-item.justify-content-center
          .review.row
            .review-image.col-lg-3.justify-content-center
              img(src="img/review/review_1.png" alt="").img-fluid
            .review-description.col-lg-9
              .review-name Ольга Степановна
              .review-position Рекламный директор и ИТ профессионал в Amazon Inc
              .review-text.row
                .review-bracket-top.col-lg-1 
                  img(src="img/review/review_top.png").img-fluid
                .text.col-lg-10 В очередной раз я обновляю свой отзыв на Irecommend. На сей раз хочу добавить блок о БОНУСАХ: чем они выгодны сайту, даю наводку на хорошо оплачиваемые темы, поделюсь своими соображениями о логике начисления бонусов. Напоминаю, что необязательно читать весь отзыв, можно пройти по ссылке на интересующий раздел. Остальное пока оставлю без изменений. Итоги по ежедневным начислениям подведу позже.
                .review-bracket-bottom.col-lg-1.align-self-end 
                  img(src="img/review/review_bottom.png").img-fluid
        .review-item.justify-content-center
          .review.row
            .review-image.col-lg-3.justify-content-center
              img(src="img/review/review_1.png" alt="").img-fluid
            .review-description.col-lg-9
              .review-name Ольга Степановна
              .review-position Рекламный директор и ИТ профессионал в Amazon Inc
              .review-text.row
                .review-bracket-top.col-lg-1 
                  img(src="img/review/review_top.png").img-fluid
                .text.col-lg-10 В очередной раз я обновляю свой отзыв на Irecommend. На сей раз хочу добавить блок о БОНУСАХ: чем они выгодны сайту, даю наводку на хорошо оплачиваемые темы, поделюсь своими соображениями о логике начисления бонусов. Напоминаю, что необязательно читать весь отзыв, можно пройти по ссылке на интересующий раздел. Остальное пока оставлю без изменений. Итоги по ежедневным начислениям подведу позже.
                .review-bracket-bottom.col-lg-1.align-self-end 
                  img(src="img/review/review_bottom.png").img-fluid
        .review-item.justify-content-center
          .review.row
            .review-image.col-lg-3.justify-content-center
              img(src="img/review/review_1.png" alt="").img-fluid
            .review-description.col-lg-9
              .review-name Ольга Степановна
              .review-position Рекламный директор и ИТ профессионал в Amazon Inc
              .review-text.row
                .review-bracket-top.col-lg-1 
                  img(src="img/review/review_top.png").img-fluid
                .text.col-lg-10 В очередной раз я обновляю свой отзыв на Irecommend. На сей раз хочу добавить блок о БОНУСАХ: чем они выгодны сайту, даю наводку на хорошо оплачиваемые темы, поделюсь своими соображениями о логике начисления бонусов. Напоминаю, что необязательно читать весь отзыв, можно пройти по ссылке на интересующий раздел. Остальное пока оставлю без изменений. Итоги по ежедневным начислениям подведу позже.
                .review-bracket-bottom.col-lg-1.align-self-end 
                  img(src="img/review/review_bottom.png").img-fluid
        .review-item.justify-content-center
          .review.row
            .review-image.col-lg-3.justify-content-center
              img(src="img/review/review_1.png" alt="").img-fluid
            .review-description.col-lg-9
              .review-name Ольга Степановна
              .review-position Рекламный директор и ИТ профессионал в Amazon Inc
              .review-text.row
                .review-bracket-top.col-lg-1 
                  img(src="img/review/review_top.png").img-fluid
                .text.col-lg-10 В очередной раз я обновляю свой отзыв на Irecommend. На сей раз хочу добавить блок о БОНУСАХ: чем они выгодны сайту, даю наводку на хорошо оплачиваемые темы, поделюсь своими соображениями о логике начисления бонусов. Напоминаю, что необязательно читать весь отзыв, можно пройти по ссылке на интересующий раздел. Остальное пока оставлю без изменений. Итоги по ежедневным начислениям подведу позже.
                .review-bracket-bottom.col-lg-1.align-self-end 
                  img(src="img/review/review_bottom.png").img-fluid
