section.s-review
  .container
    .s-section-header
      span.first-text отзывы
      span.second-text клиентов
    .s-review-content
      .owl-carousel.reviews.justify-content-center
        .reviw-item Your Content 
        .reviw-item Your Content 
        .reviw-item Your Content 
        .reviw-item Your Content 
        .reviw-item Your Content 
        .reviw-item Your Content 
        .reviw-item Your Content 
