section.s-service
  .container
    .s-section-header
      span.first-text наши
      span.second-text услуги
    .s-service-content.row
      .col-lg-4 
        .audit-block(style="background-image:url(img/service/audit.png);")
          .block-hover
            .block-header аудит
            .block-content
              ul
                li анализ инфраструктуры
                li выбор решения 
                li подбор конфигурации
            .block-button
              button(onclick="").button.button-outline Подробнее
      .col-lg-4 
        .install-block(style="background-image:url(img/service/install.png);")
          .block-hover
            .block-header ИНСТАЛЯЦИЯ НАСТРОЙКА
            .block-content
              ul
                li инсталяция - базова настройка
                li внедрение и интеграции
                li безопасность и модернизация систем 
                li настройка служб, сети, ролей и подобного
                li оптимизация и тюнинг
            .block-button
              button(onclick="").button.button-outline Подробнее
      .col-lg-4 
        .tech-block(style="background-image:url(img/service/tech.png);")
          .block-hover
            .block-header ТЕХНИЧЕСКАЯ ПОДДЕРЖКА
            .block-content
              ul
                li мониторинг систем
                li обновление по ревизиям БД
                li реконфиг, перенос и подобное
                li сетевые атаки
                li восстановление
            .block-button
              button(onclick="").button.button-outline Подробнее
    .s-service-block-content
