section.s-slider
  .s-slider-content
    .owl-carousel.slider
      .slider-item
        .slider-background
          img(src="img/slider/top-img.png")
        .container
          .slide-description
            .slide-header Серверное администрирование
            .slide-text
              ul
                li.slide-text-1 инсталяция - базова настройка
                li.slide-text-2 внедрение и интеграции
                li.slide-text-3 безопасность и модернизация систем 
                li.slide-text-4 настройка служб, сети, ролей и подобного
                li.slide-text-5 оптимизация и тюнинг
            .slide-button
              button.button.button-more Подробнее
      .slider-item
        .slider-background
          img(src="img/slider/top-img.png")
        .container
          .slide-description
            .slide-header Серверное администрирование
            .slide-text
              ul
                li.slide-text-1 инсталяция - базова настройка
                li.slide-text-2 внедрение и интеграции
                li.slide-text-3 безопасность и модернизация систем 
                li.slide-text-4 настройка служб, сети, ролей и подобного
                li.slide-text-5 оптимизация и тюнинг
            .slide-button
              button.button.button-more Подробнее
