section.s-slider
  .owl-carousel.slider
    .slider-item(style="background-image: url(img/slider/slide_1.jpg)")
      //- .slider-background(style="background-image: url(img/slider/top-img.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      //- .slider-background(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            button.button.button-more Подробнее
