section.s-slider
  .owl-carousel.slider
    .slider-item(style="background-image: url(img/slider/slide_1.jpg)")
      .slider-background#slider_server(style="background-image: url(img/slider/top-img.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="server.html")
              button.button.button-more Подробнее
    .slider-item(style="background-image: url(img/service-page/linux/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="linux.html")
              button.button.button-more Подробнее
        .slider-img#slider_linux(style="background-image: url(img/service-page/linux/pinguin.png)")
    .slider-item(style="background-image: url(img/service-page/windows/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="windows.html")
              button.button.button-more Подробнее
        .slider-img#slider_windows(style="background-image: url(img/service-page/windows/windows.png)")
    .slider-item(style="background-image: url(img/service-page/complex/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="complex.html")
              button.button.button-more Подробнее
        .slider-img#slider_complex(style="background-image: url(img/service-page/complex/phone.png)")
    .slider-item(style="background-image: url(img/service-page/database/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="database.html")
              button.button.button-more Подробнее
        .slider-img#slider_database(style="background-image: url(img/service-page/database/computing.png)")
    .slider-item(style="background-image: url(img/service-page/complete/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="ready.html")
              button.button.button-more Подробнее
        .slider-img#slider_ready(style="background-image: url(img/service-page/complete/copter.png)")
    .slider-item(style="background-image: url(img/service-page/security/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="security.html")
              button.button.button-more Подробнее
        .slider-img#slider_security(style="background-image: url(img/service-page/security/sec_pc.png)")
    .slider-item(style="background-image: url(img/service-page/virtual/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="virtualization.html")
              button.button.button-more Подробнее
        .slider-img#slider_virtual(style="background-image: url(img/service-page/virtual/earth.png)")
    .slider-item(style="background-image: url(img/service-page/web/back.png)")
      .container
        .slide-description
          .slide-header Серверное администрирование
          .slide-text
            ul
              li.slide-text-1 инсталяция - базова настройка
              li.slide-text-2 внедрение и интеграции
              li.slide-text-3 безопасность и модернизация систем 
              li.slide-text-4 настройка служб, сети, ролей и подобного
              li.slide-text-5 оптимизация и тюнинг
          .slide-button
            a(href="web.html")
              button.button.button-more Подробнее
        .slider-img#slider_web(style="background-image: url(img/service-page/web/computer.png)")
