section.s-stage
  .container
    .s-section-header
      span.first-text этапы
      span.second-text реализации
    .s-stage-back-line
      img(src="img/stage/stage_back.png")
    .s-stage-content
      .stage-list
        .stage-item 
          img(src="img/stage/stage_1.png")
          .stage-item-title Задача
          .stage-item-content
            ul
              li 
                a(href="#") заявка
              li 
                a(href="#") звонок
              li 
                a(href="#") почта
        .stage-item 
          img(src="img/stage/stage_2.png")
          .stage-item-title Обсуждение
          .stage-item-content
            ul
              li 
                a(href="#") условия и детали
              li 
                a(href="#") анализ и аудит
              li 
                a(href="#") составление ТЗ
              li 
                a(href="#") плнарование работ
        .stage-item 
          img(src="img/stage/stage_3.png")
          .stage-item-title Договоренность
          .stage-item-content
            ul
              li 
                a(href="#") соглашение
              li 
                a(href="#") сроки
              li 
                a(href="#") стоимость
              li 
                a(href="#") договор
        .stage-item 
          img(src="img/stage/stage_4.png")
          .stage-item-title 
            span Выполнение
      
