section.s-types
  .container
    .type-list.row
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #eebb2c;")
          .type-test-front.type-test-linux(style="background-image: url(img/block/linux-i.png);")
            button.button.button-linux Unix / Linux
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #7dccfd;")
          .type-test-front.type-test-windows(style="background-image: url(img/block/windows-i.png);")
            button.button.button-windows Windows
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #66ac89;")
          .type-test-front.type-test-web(style="background-image: url(img/block/web-i.png);")
            button.button.button-web WEB услуги
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #a6e93e;")
          .type-test-front.type-test-db(style="background-image: url(img/block/database-i.png);")
            button.button.button-db Базы данных
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #5d83d9;")
          .type-test-front.type-test-security(style="background-image: url(img/block/security-i.png);")
            button.button.button-security Безопасность
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #cc3535;")
          .type-test-front.type-test-virtual(style="background-image: url(img/block/vizualization-i.png);")
            button.button.button-virtual Виртуализация
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #da6734;")
          .type-test-front.type-test-complex(style="background-image: url(img/block/complex-i.png);")
            button.button.button-complex Комплексные работы
      .col-lg-3.type-test-item
        .type-test-back(style="background-color: #f1cb3c;")
          .type-test-front.type-test-ready(style="background-image: url(img/block/ready-i.png);")
            button.button.button-ready Готовые проектные решения
