section.s-types
  .container
    .type-list.row
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/linux.png)")
          .type-block-button 
            button.button.button-linux Unix / Linux
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/windows.png)")
          .type-block-button
            button.button.button-windows Windows
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/web.png)")
          .type-block-button
            button.button.button-web WEB услуги
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/database.png)")
          .type-block-button
            button.button.button-db Базы данных
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/security.png)")
          .type-block-button
            button.button.button-security Безопасность
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/virtualization.png)")
          .type-block-button
            button.button.button-virtual Виртуализация
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/complex.png)")
          .type-block-button
            button.button.button-complex Комплексные работы
      .col-lg-3.type-item
        .type-block-img(style="background-image: url(img/block/ready.png)")
          .type-block-button
            button.button.button-ready Готовые проектные решения
