.s-page-description(style="background-color: #154e9b")
  .container
    .s-descr-list
      .descr-item
        .item-icon
          img(src="img/service-page/database/database_1.png" alt="")
        .item-text
          .item-descr-title ЦОД
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/database/database_2.png" alt="")
        .item-text
          .item-descr-title OpenStack
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера.
      .descr-item
        .item-icon
          img(src="img/service-page/database/database_3.png" alt="")
        .item-text
          .item-descr-title Service Desk
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/database/database_4.png" alt="")
        .item-text
          .item-descr-title Отказоустойчивость
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера.
      .descr-item
        .item-icon
          img(src="img/service-page/database/database_5.png" alt="")
        .item-text
          .item-descr-title DevOps
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/database/database_6.png" alt="")
        .item-text
          .item-descr-title Мониторинг
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
