extends import/base.pug
block title
  |Комплекс - Host is on
block header
  include import/header-server.pug
block content
  include import/section/complex/title.pug
  include import/section/complex/description.pug
  include import/section/extra.pug
  include import/section/stage.pug
  include import/section/contact.pug
  include import/modal.pug
block footer
  include import/footer.pug
