extends import/base.pug
block title
  |Базы данных - Host is on
block header
  include import/header-server.pug
block content
  include import/section/database/title.pug
  include import/section/database/description.pug
  include import/section/extra.pug
  include import/section/stage.pug
  include import/section/contact.pug
  include import/modal.pug
block footer
  include import/footer.pug
