extends import/base.pug
block title
  |Главная - Host is on
block header
  include import/header.pug
block content
  include import/section/slider.pug
  include import/section/service.pug
  include import/section/types.pug
  include import/section/extra.pug
  include import/section/stage.pug
  include import/section/advantage.pug
  include import/section/review.pug
  include import/section/client.pug
  include import/section/contact.pug
block footer
  include import/footer.pug
