extends import/base.pug
block title
  |Сервери - Host is on
block header
  include import/header-server.pug
block content
  include import/section/server/title.pug
  include import/section/server/server.pug
  include import/section/server/description.pug
  include import/section/extra.pug
  include import/section/stage.pug
  include import/section/contact.pug
block footer
  include import/footer.pug
