extends import/base.pug
block title
  |Windows - Host is on
block header
  include import/header-server.pug
block content
  include import/section/windows/title.pug
  include import/section/windows/description.pug
  include import/section/extra.pug
  include import/section/stage.pug
  include import/section/contact.pug
block footer
  include import/footer.pug
