.s-description
  .container
    .s-description-content
      p 
        b Наша команда выполняет широкий спектр задач системного администрирования и близких к ним сфер. 
      p Мы предоставляем полный комплекс услуг по технической поддержке IT-инфраструктуры для различных организаций, выполняем настройку серверов любой сложности и назначения. 
      p Наши решения по IP-телефонии на базе свободного ПО Asterisk закрывают потребности как небольшой команды удаленных сотрудников, так и масштабного call-центра. 
      p Долговременный проект или разовые работы, типовая задача или амбициозный кейс — в любом случае мы подходим к сотрудничеству со всей ответственностью и уважением к нашим клиентам. Наша команда выполняет широкий спектр задач системного администрирования и близких к ним сфер. Мы предоставляем полный комплекс услуг по технической поддержке IT-инфраструктуры для различных организаций, выполняем настройку серверов любой сложности и назначения. Наши решения по IP-телефонии на базе свободного ПО Asterisk закрывают потребности как небольшой команды удаленных сотрудников, так и масштабного call-центра. Долговременный проект или разовые работы , типовая задача или амбициозный кейс.
