section.s-server-service#description.fadeInUp.animated
  .container
    .service-server(style="background-image: url(img/server-page/server.png)")
      .service-item.fadeInUp.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInLeft.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInLeft.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInLeft.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInDown.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInRight.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInRight.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
      .service-item.fadeInRight.animated
        .s-item-title title
        .s-item-description Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
