section.s-server-title
  .s-server-content
    .server-item
      .server-background(style="background-image: url(img/slider/top-img.png);")
      .container
        .server-description
          .server-header Серверное администрирование
          .server-text
            ul
              li.server-text-1 инсталяция - базова настройка
              li.server-text-2 внедрение и интеграции
              li.server-text-3 безопасность и модернизация систем 
              li.server-text-4 настройка служб, сети, ролей и подобного
              li.server-text-5 оптимизация и тюнинг
          .server-button
            button.button.button-more Подробнее
