footer.footer
  .footer-top 
    .container
      nav(role="footer-navigation").navbar.navbar-expand-lg
        a.navbar-brand(href='/')
          img(src="img/logo_green.png") 
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarText.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='#') Услуги 
            li.nav-item
              a.nav-link(href='#') Блог
            li.nav-item
              a.nav-link(href='#') О нас
            li.nav-item
              a.nav-link(href='#') Контакты
  .footer-bottom 
    .container
      .footer-column
        .footer-row-1
          .copyright © 2017 Hostion. All Rights Reserved
          .footer-contact 
            a(href="tel:+380675222222" target="_blank") +38 (067) 522-22-22 (Viber, Telegram)
            | 
            a(href="tel:+380675222222" target="_blank") +38 (067) 522-22-22 (Skype)
            | 
            a(href="mailto:support.hostion" target="_blank") support.hostion
        .footer-row-2
          a(href="https://pearsolution.com.ua/" target="_blank")
            figure.createdby
              .logo
                img(src="img/pear.png" alt="pearsolution")
              figcaption 
                p Created by
                p.named PEARSOLUTION WEB STUDIO
