header.header
  .container
    nav(role="navigation").navbar.navbar-expand-lg
      a.navbar-brand(href='/')
        img(src="img/logo_green.png") 
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#') Услуги 
          li.nav-item
            a.nav-link(href='#') Блог
          li.nav-item
            a.nav-link(href='#') О нас
          li.nav-item
            a.nav-link(href='#') Контакты
