.s-page-description(style="background-color: #3871a3")
  .container
    .s-descr-list
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_1.png" alt="")
        .item-text
          .item-descr-title ЦОД
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_2.png" alt="")
        .item-text
          .item-descr-title OpenStack
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_3.png" alt="")
        .item-text
          .item-descr-title Service Desk
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_4.png" alt="")
        .item-text
          .item-descr-title Отказоустойчивость
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_5.png" alt="")
        .item-text
          .item-descr-title DevOps
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_6.png" alt="")
        .item-text
          .item-descr-title Мониторинг
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_7.png" alt="")
        .item-text
          .item-descr-title Microsoft Office 365
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
      .descr-item
        .item-icon
          img(src="img/service-page/complex/complex_8.png" alt="")
        .item-text
          .item-descr-title ІТ-поддержка стартапов
          .item-descr-text Установка и настройка всех ДНС и фаерволов, а так же полная защита клиенского компьютера и сервера от всех сторонних аттак.
