section.s-title(style="background-image: url(img/service-page/virtual/back.png);")
  .container
    .content-item
      .content-description
        .content-header Виртуализация
        .content-header-description Инсталяция, настройка, техническая поддержка
        .content-text 
          p Наша команда выполняет широкий спектр системного администрирования и близких к ним сфер. Мы предоставляем полный комплекс услуг по технической поддержке IT-инфраструктуры для различных организаций, выполняем настройку серверов любой сложности и назначения. Наша команда выполняет широкий спектр системного администрирования и близких к ним сфер.  Мы предоставляем полный комплекс услуг по технической поддержке IT-инфраструктуры для различных организаций, выполняем настройку серверов любой сложности и назначения.
      .content-description#virtual
        img(src="img/service-page/virtual/earth.png" alt="")
